/* Houses - CSS */
#houses {
    width: 600px;
    height: 600px;
    float: left;
    overflow-y: auto;
    margin: 10px;
    border: 1px dotted gray;
    padding: 10px;
}

.houseContainer {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    width: 570px;
    height: 165px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    margin: 2px;
    padding: 2px;
}

.houseImage {
    width: 225px;
    height: 160px;
    float: left;
    margin: 2px;
}

p.header {
    font-size: 14px;
    font-weight: bold;
}

p.text {
    font-style: italic;
    font-size: 10px;
}